* {
  /*margin: 0 auto;*/
  /*text-align: center;*/
}

.brush-color {
  width: 10%;
  height: 20px;
  border-radius: 100%;
}
.pixel {
  box-sizing: border-box;
  height: 5px;
  width: 5px;
  display: inline-block;
  float:right;
}

.square {
  border: 1px solid black;
  overflow:hidden;
  width: 50%;
  /*float: left;*/
  /*margin: 0 auto;*/
}

.panel > * {
  display: inline-block;
  background-color: blanchedalmond;
  width: 40%;
  height: 40vh;
}

.colorBox {
  width: 50%;
  height: 20px;
}

.panel {
  float: right;
  width: 45%;
}

.colorOptionsDisplay {
  display:none;
  width: 20%;
}

.left {
  float: left;
}

#pastel:active {
  font-size: 2em;
  background-color: pink;
}
